* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(240, 100%, 27%);
    color: hsl(0, 0%, 100%);
    display: flex;
}

#app {
    display: grid;
    place-items: center;
    flex: 1;
    grid-template-rows: auto 1fr;
}

.text-items {
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logo, .turn {
    text-align: center;
}

.axis-button {
    font-size: 1.5rem;
    background-color: hsl(240, 100%, 27%);
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    width: fit-content;
    padding: 0.25rem 0.4rem;
    border-radius: 5px;
}

.axis-button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 100%, 27%);
}

.boards {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.board-text {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(8, 4rem);
    gap: 2px;
    padding: 2px;
}
  
.cell {
    height: 100%;
    width: 100%;
    border: 1px solid hsl(0, 0%, 100%);
    background: hsl(240, 100%, 27%);
    cursor: pointer;
}

@media screen and (max-width: 1100px){
    .board {
        grid-template: repeat(8, 3rem) / repeat(8, 3rem);
    }
}

@media screen and (max-width: 840px){
    .boards{
        flex-direction: column-reverse;
        height: 100%;
        max-width: 100%;
    }
    .board {
        grid-template: repeat(8, 2rem) / repeat(8, 2rem);
    }
}